/*
 * Author: Roshan Jerad Perera
 * URL: http://total-pixels.com
 *
 * Project Name: Total Pixels
 * Version: 1.0
 * Date: 01-01-2015
 * URL: http://total-pixels.com
 */


/* ==========================================================================
   Base Styles and Bootstrap Modifications
   ========================================================================== */

html,
body {
    height: 100%;
	font-family: 'open_sans', sans-serif;
	background: #FDFDFD;
    color: #000;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;}

h1, h2, h3 {font-family: 'code_pro', sans-serif;}

h4,h5  {  font-family: color:#3e3e3e; }

h1 {
	
	font-size: 50px; 
	color: #3e3e3e; 
	}

h2 {
	
	color:#3e3e3e; 
	}

h3 {color:#3e3e3e; }

a { color: #4E5D6C;}

a:hover {color:#D8DDE2; style:none;}

p {color: #3e3e3e; font-family: 'open_sans', sans-serif;}

hr {color:#17BE7E;}



/*=================================

    --- Fonts ----
==============================*/
	
.magellan-container {background-color: #000;}

.header {background-color: #D8DDE2 ;}